.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  will-change: contents;
  min-height: 566px;
  position: relative;
  opacity: 1;
  margin: 0 auto;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  top: 155px;

  .text-zone {
    h1 {
      font-size: 53px;
      font-family: 'Coolvetica';
      color: #ffd700;
      font-weight: 400;
    }
    h2 {
      color: #fff;
      font-family: sans-serif;
    }
    p {
      font-size: 13px;
      color: #fff;
      font-family: sans-serif;
      font-weight: 300;
    }
  }
}

.project {
  .project-row {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 auto;

    p {
      flex: 0 0 50%;
      max-width: 49%;
    }

    img {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}
